block body
    .create-button-wrapper
        button#button.button.btn-green(data-toggle="modal" data-target="#modal")
            span.button__icon 
                <i class="bi bi-plus"></i> 
            span.button__text Создать свой магазин
    .title-wrapper 
        h1.title Управление магазинами
        