block header
    header.header
        .header__content
            button.menu-icon
                i.bi.bi-list
            .logo.logo-mobile
                img.logo__img(src="./img/logo.png", alt="Work5")
            .breadcrumbs
                .span.breadcrumbs__text Главная
                img.breadcrumbs__arrow(src="./img/arrow-point-to-right.png", alt="arrow-point-to-right")
                .span.breadcrumbs__text Мои магазины
            .profile-block
                .message
                    .message__icon-wrapper
                        img.message__icon(src="./img/envelope.svg", alt="message")
                        .circle
                            .circle__small
                .profile
                    .profile__img-wrapper
                        img.profile__img(src="./img/avatar.png", alt="avatar")
                    .profile__name Максим Добжанский
