block sidebar

    .sidebar
        .d-flex
            .logo.logo-desktop
                img.logo__img(src="./img/logo.png", alt="Work5")
            button.menu-close
                i.bi.bi-x-lg
        .nav-bar
            ul.nav
                li.nav__item
                    a(href="#").nav__link
                        i.bi.bi-house-door
                        span.nav__text Главная
                li.nav__item.active
                    a(href="#").nav__link
                        i.bi.bi-cart3
                        span.nav__text Мои магазины
                li.nav__item
                    a(href="#").nav__link
                        i.bi.bi-megaphone
                        span.nav__text Промоматериалы
                li.nav__item
                    a(href="#").nav__link
                        i.bi.bi-pie-chart
                        span.nav__text Статистика
                li.nav__item
                    a(href="#").nav__link
                        i.bi.bi-wallet2
                        span.nav__text Баланс
                li.nav__item
                    a(href="#").nav__link
                        i.bi.bi-person
                        span.nav__text Персональные данные
                li.nav__item
                    a(href="#").nav__link
                        i.bi.bi-question-circle
                        span.nav__text FAQ
                li.nav__item
                    a(href="#").nav__link
                        i.bi.bi-headset
                        span.nav__text Техподдержка
                li.nav__item
                    a(href="#").nav__link
                        i.bi.bi-box-arrow-right
                        span.nav__text Выход
