block table
    section.table-wrapper
    .table-responsive-xl
        table.table.table-hover.table-main
            thead.thead
                tr 
                    th(scope="col") №
                    th(scope="col") Название
                    th(scope="col") Адрес
                    th(scope="col") Действие
            tbody 
                tr 
                    td(scope="row" valign="middle") 12345
                    td(valign="middle") Дипломная работа
                    td(valign="middle") http://www.work5.ru/services    
                    td(valign="middle" )
                        button.button.btn-green.me-2
                            span.button__icon.fz-18.me-1 
                                i.bi.bi-pencil
                            span.button__text Редактировать
                        button.button.btn-gray
                            span.button__icon.fz-18.me-1  
                                i.bi.bi-x-lg
                            span.button__text Редактировать
                tr
                    td(scope="row" valign="middle") 12345
                    td(valign="middle") Дипломная работа
                    td(valign="middle") http://www.work5.ru/services    
                    td(valign="middle" )
                        button.button.btn-green.me-2
                            span.button__icon.fz-18.me-1
                                i.bi.bi-pencil
                            span.button__text Редактировать
                        button.button.btn-gray
                            span.button__icon.fz-18.me-1 
                                i.bi.bi-x-lg
                            span.button__text Редактировать
                        
                        
                    
